.input_box {
    display: flex;
    gap: 12px;
    margin: 0 auto;
    max-width: 567px;
}

.circle_box {
    column-gap: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0 auto;
    max-width: 944px;
    padding-left: 0;
    row-gap: 48px;
}

.paragraph {
    color: #3d3d3d;
    display: flex;
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 6px 0 120px 625px;
    padding: 0;
}